<h1>Home Page</h1>
<h2>Hi, <%= current_user.first_name %></h2>

<p>Find me in app/views/pages/home.html.erb</p>

<h1>Blog Posts</h1>
<p><%= @blogs.inspect %></p>

<h1>Skills</h1>
<p><%= @skills.inspect %></p>
